﻿@model MusicStore.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div text-align="left">
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal; text-left;">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>    
</div>
<div style="margin-bottom: 1rem;">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary ">Edit</a>
        @*<a asp-action="Index">Back to List</a>*@
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back To List</a>
</div>
